%h2
  - if @self_collection
    = I18n.t('your_collection')
  - else
    = I18n.t('collection')
- if @self_collection
  = link_to new_user_userfile_path(@user_id) do
    %button.btn.btn-primary.btn-actions
      = I18n.t('new')
#files
  - if @files.present?
    - @files.each do |file|
      %div.image-list-container
        %a.image-list-link{"data-gallery" => "", :href => download_user_userfile_path(file, :user_id => @user_id), :title => file.title}
          %img.image-list-img{:alt => file.title, :src => preview_user_userfile_path(file, :user_id => @user_id)}/
        - if @self_collection
          %div.image-list-actions-container
            %div.image-list-actions
              = link_to edit_user_userfile_path(@user_id, file.id), :class => 'no_underline' do
                %span.glyphicon.glyphicon-edit
              = link_to user_userfile_path(@user_id, file.id), :class => 'no_underline', :method => :delete, :data => {:confirm => I18n.t("delete_sure")} do
                %span.glyphicon.glyphicon-remove
